/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2016, 10:29:46 PM
    Author     : Oops
*/
.footer{
    background-color: #138808;
   // width: 100%;
    height: 120px;
   // border: blue thin solid;
    padding-bottom: 30px;
    margin-top: 0px;
   
}
